body {
	background-color: #fff;
}

html, body {
	height: 100%
}

#bodytext1 {
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	font-family: Helvetica;
	text-align: center;
	background: url(https://media2.wnyc.org/i/620/372/c/80/1/antibiotic_resistant_MRSA.jpg); height: auto; width: 100%;
}

#embellish {
	color: red;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

